@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary: #1434a4;
  --secondary: #eaf2f8;
  --secondary-dark: #d9e7f2;
  --tertiary: #fbfcfc;
  --tertiary-dark:#eef2f2;
}
* {
  box-sizing: border-box;
  font: "Poppins", sans-serif;
}

/* MISC */
.loading h1{
  margin-left: 10px;  
  text-decoration: none;
}
.link{
  text-decoration: none;
}
/* SEARCH BAR CSS */

.search-bar-div {
  display: flex;
  background-color: var(--secondary);
  box-shadow: 0px 0px 2px;
}
.search-bar-div h1 {
  color: black;
  font-size: 2.4rem;
  margin-left: 10px;
}
.search-bar-div span {
  color: var(--primary);
}
.search-bar-div form {
  margin: auto 20px;
}
.search-bar-div input {
  height: 40px;
  width: 350px;
  font-size: 1.3rem;
  border-radius: 5px;
}
.search-bar-div input:focus {
  outline: none;
}

/* HOMEPAGE CSS */
.home-page-div {
  display: flex;
}

.home-page-div main {
  width: 65%;
  margin: 5px;
}
.home-page-div aside {
  width: 35%;
  margin: 5px;
}
.home-page-div h2 {
  font-size: 1.65rem;
  margin-left: 10px;
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
/* HOMEPAGE - POPULAR TILES CSS */
.popular-tiles {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background: var(--secondary);
  border-radius: 5px;
  box-shadow: 0px 0px 2px;
  cursor: pointer;
}
.popular-tiles:hover{
  box-shadow: 0px 0px 3px var(--primary);
  background: var(--secondary-dark);
  transition: 0.2s ease-in;
}
.popular-tiles-header{
  display: flex;
}
.popular-tiles-subreddit-name {
  width: 85%;
}
.popular-tiles-subreddit-name h4{
  color: black;
  width: fit-content;
  text-decoration: underline;
  font-size: 1.1rem;
  text-decoration-color: var(--primary)
}
.popular-tiles-subreddit-name h4 span:hover{
  letter-spacing: 3px;
  transition: 0.2s ease-in-out;
}

.popular-tiles-upvotes{
  display: flex;
  justify-content: center;
  width: 15%;
}
.chevron-up{
  margin: auto;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.chevron-up::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  bottom: 2px
}
.chevron-down {
  margin: auto;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
}
.chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px
}
.popular-tiles-title {
  text-align: center;
}
.video-container, .image-container, .gif-container{
  display: flex;
  justify-content: center;
}
.popular-tiles-media img, .video, .gif{
  contain: content;
  margin: 20px;
  max-width: 350px;
  max-height: 350px;
}
.nav-button-div{
  display: flex;
  justify-content: center;
}
.nav-button{
  cursor: pointer;
  background-color: var(--tertiary);
  margin: auto 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

/* ALL SUBREDDITS CSS */

.subreddit-list-div {
  margin: 15px auto;
  padding: 5px;
  border-radius: 5px;
  background: var(--secondary);
  box-shadow: 0px 0px 2px;
}
.subreddit-list-div h3 {
  font-size: 1.65rem;
  margin: 15px;
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
.individual-subreddit {
  cursor: pointer;
  border: 1px solid black;
  margin:5px;
  border-radius: 5px;
  background-color: var(--tertiary);
}
.individual-subreddit:hover{
  background-color: var(--tertiary-dark);
  letter-spacing: 3px;
  transition: 0.3s;
}
.individual-subreddit h4 {
  color: black;
  margin-left: 10px;
}

/* SUBREDDIT PAGE CSS */
.subreddit-page-div{
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  padding: 15px;
  box-shadow: 0px 0px 2px;
  margin: 10px;
}
.subreddit-page-div h1 {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
.subreddit-page-post {
  cursor: pointer;
  width: 100%;
  background-color: var(--tertiary);
  border-radius: 5px;
  border:1px solid black;
  padding: 15px;
  margin: 10px auto;
}

.subreddit-page-post:hover{
  background-color: var(--secondary-dark);
}
.subreddit-page-header {
  display: flex;
}
.subreddit-page-header h2 {
  width: 85%;
}
.subreddit-page-media{
  margin: 10px auto;
  display: inline
}
.subreddit-page-media img, .video, .gif{
  contain: content;
  margin: 20px;
  max-width: 350px;
  max-height: 350px;
}
.subreddit-page-footer{
  width: 100%;
}
.subreddit-page-footer footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}