@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary: #1434a4;
  --secondary: #eaf2f8;
  --tertiary: #fbfcfc;
}
* {
  box-sizing: border-box;
  font: "Poppins", sans-serif;
}

/* SEARCH BAR CSS */

.search-bar-div {
  display: flex;
  background-color: var(--secondary);
}
.search-bar-div h1 {
  font-size: 2.4rem;
  margin-left: 10px;
}
.search-bar-div span {
  color: var(--primary);
}
.search-bar-div form {
  margin: auto 20px;
}
.search-bar-div input {
  height: 40px;
  width: 350px;
  font-size: 1.3rem;
  border-radius: 5px;
}
.search-bar-div input:focus {
  outline: none;
}

/* MAIN CSS */
.home-page-div {
  display: flex;
}

.home-page-div main{
  border: 1px solid black;
  background:var(--secondary);
  width: 65%;
  margin:5px;
}
.home-page-div aside{
  border: 1px solid black;
  width: 35%;
  margin:5px;
}
.home-page-div h2 {
  font-size: 1.65rem;
  margin-left: 10px;
  text-decoration: underline;
  text-decoration-color: var(--primary);
}